/* UserProfile.css */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    font-size: medium;
}

.card button[type="submit"] {
    font-family: 'ABeeZee', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: right;
    background-color: #02263f;
    color: #ccc;
    width: 200px;
    border: 1px solid #02263f;
    border-radius: 30px;
    padding: 20px;
    font-size: 16px;
}

form button[type="button"] {
    background-color: #fff;
    width: 50px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 400px;
}

form button[type="button"]:hover {
    border : 1px solid #02263f;
}


