/*News Sources*/
.form-source-selection {
    grid-row: 2;
    grid-column: 2;
}

.selected-news-sources {
    max-height: 50px;
    overflow-y: scroll;
}

.timeline-selection {
    grid-row: 1;
    grid-column: 2;
}

.source-select {
    margin: 0;
}

.reading-time-selection {
    grid-row: 2;
    grid-column: 1;
}

.slider {
    width: 100%;
}

.reading-time-slider {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.reading-time-slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selected-sources-2 {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
}


.source-selection,
.timeline-selection,
.form-source-selection,
.form-name-input,
.reading-time-selection {
    margin-top: 25px;
    width: 80%;
    text-align: left;
}

.selected-sources {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
    width: 50%;
}

.source-tag {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 5px 15px;
    background: #f1f1f1;
    border-radius: 15px;
    font-size: 14px;
    padding-right: 30px;
    margin-top: 5px;
}

.remove-source-btn {
    position: absolute;
    right: 7px;
    top: 12px;
    transform: translateY(-45%);
    border: none;
    background: grey;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    line-height: 1;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.form-wrapper {
    width: 700px;
    background-color: snow;
    padding: 1em 0;
    border-radius: 24px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}

.configuration-form-header {
    background-color: snow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.6em 0.6em 0.6em;
    border-bottom: 1px solid black;
}

.configuration-form-button {
    padding: 0.8em 1em;
    background-color: #022B48;
    border: none;
    color: white;
    border-radius: 100px;
}

.configuration-form-button:hover {
    cursor: pointer;
}

.configuration-form-field {
    padding-top: 0.5em;
    padding-bottom: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    gap: 0.5em 1em;
    border-bottom: 1px solid black;
}

.configuration-form-field>* {
    padding: 0.8em 1.4em;
    
}

.form-name-input {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
}

.configuration-form-input {
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-top: 5px;
}

.topic-label {
    font-weight: 600;
    margin-right: 5px;
}

.topic-percentage {
    display: flex;
    align-items: center;
    gap: 5px;
}

.percentage-input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
    outline: none;
    font-size: 14px;
}

.percentage-input:focus {
    border-color: #007bff;
}

.percentage-symbol {
    font-weight: bold;
    color: #333;
}

@media (max-width: 768px) {
    .source-selection,
    .timeline-selection,
    .form-source-selection,
    .form-name-input,
    .reading-time-selection {
        margin-top: 30px;
    }

    .news-sources-title,
    .categories-title,
    .timeline-title,
    .reading-time-title {
        font-size: 20px;
    }

    .configuration-form-input {
        padding: 7px;
        border: none;
        border-radius: 15px;
        font-size: 16px;
        margin-top: 5px;
    }

    
    .source-select {
        padding: 7px;
        border: none;
        border-radius: 15px;
        font-size: 16px;
        margin-top: 5px;
    }

    .form-wrapper {
        width: 90%;
        top: 50%;
        padding: 1em;
        overflow-y: scroll;
        max-height: 600px;

    }

    .configuration-form-header {
        flex-direction: column;
        text-align: center;
        padding: 0.5em 0;
    }

    .configuration-form-button {
        width: 100%; 
        padding: 0.6em;
        font-size: 0.9rem;
    }

    .configuration-form-field {
        display: flex; 
        flex-direction: column;
        padding-top: 0.2em;
        padding-bottom: 0.8em;
    }

    .configuration-form-input {
        width: 100%; 
        font-size: 0.9rem;
    }

}




