.header {
  padding: 20px;
  text-align: center;
}

.title {
  font-size: clamp(2rem, 4vw, 3.5rem);
  color: #00264d;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(10px, 3vw, 20px);
}

.news-icon {
  width: clamp(50px, 10vw, 70px);
  height: auto;
}
