.sidebar {
  width: 250px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'azeebee', sans-serif;
  border-style:ridge;
}

.nav {
  display: flex;
  flex-direction: column;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 25px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.2s;
}

.navItem:last-child {
  border-bottom: none;
}

.navItem:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.icon {
  margin-right: 20px;
  font-size: 24px;
  color: #333;
  font-family: 'azeebee', sans-serif;
}
