@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input{
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'azeebee', sans-serif;
  border-style:ridge;
}

.nav {
  display: flex;
  flex-direction: column;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 25px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.2s;
}

.navItem:last-child {
  border-bottom: none;
}

.navItem:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.icon {
  margin-right: 20px;
  font-size: 24px;
  color: #333;
  font-family: 'azeebee', sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.2s ease-in;
}