@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input {
    font-family: 'ABeeZee', sans-serif;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'azeebee', sans-serif;
    border-style: ridge;
    position: absolute;
    left: 0;
    top: 33%;
}

.nav {
    display: flex;
    flex-direction: column;
}

.navItem {
    display: flex;
    align-items: center;
    padding: 25px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.2s;
}

.navItem:last-child {
    border-bottom: none;
}

.navItem:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.icon {
    margin-right: 20px;
    font-size: 24px;
    color: #333;
    font-family: 'azeebee', sans-serif;
}

.logo-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100vw;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    border-radius: 5px;
}

.form-field label {
    margin-bottom: 5px;
    font-weight: 500;
}

.form-field input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 16px;
}

.form-field p {
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
}

.form-field label {
    font-size: 16px;
    padding: 10px;
}

.form-field input:focus {
    outline: none;
    border-color: #333;
}

.header {
    position: relative;
    right: 150px;
    margin-bottom: 20px;
    color: #02263f;
    font-size: 45px;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
}
