body, input, button{
    font-family: 'ABeeZee', sans-serif;
}

.pass-reset .toggle-password-icon,.pass-reset .password-info-icon{
    position: relative;

}

.pass-reset .password-checklist{
    position: fixed;
    top: 45%;
    left: 60%;
    transform: translate(-35%,-60%);
}

.auth-other-options {
    padding-top: 15px;
}