.news-generation {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 75%;
    background-color: #f8f8f8;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 20px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }

  .news-generation h1 {
    font-size: 24px;
    font-weight: 700;
    color: #1A2A3A;
    position: absolute;
    top: 30px;
    left: 20px;
    margin: 0;
  }

  .news-generation button:hover {
    background-color: #142029;
  }

  .news-generation-content {
    margin-top: 200px;
    width: 100%;
  }

  .news-content-container {
    padding-top: 75px;
    padding-inline: 50px;
  }

  p{
    font-size: 12px;
    font-family: 'ABeeZee'
  }
